<h1>Expression</h1>
<h2>Basic Usage</h2>
<h3>{{article.title}}</h3>
<h3>{{article/title}}</h3>
{{#each articles.[1].[#comments]}}
  <h4>{{title}}</h4>
  <div>
    {{body}}
  </div>
{{/each}}
<hr />
<h2>Whitespace Control</h2>
{{#each nav ~}}
  <a href="{{this.url}}">
    {{~#if this.test}}
      {{~this.title}}
    {{~^~}}
      Empty
    {{~/if~}}
  </a>
{{~/each}}
<hr />
<h2>Escaping</h2>
<ul>
  <li>{{escaped}}</li>
  <li>{{{escaped}}}</li>
  <li>\{{escaped}}</li>
  <li>11{{{{raw}}}}22
    {{escaped}}33
  {{{{/raw}}}}44</li>
</ul>
<hr />
<h2>HTML Escaping</h2>
<div class="entry">
  <h3>{{title}}</h3>
  <div class="body">
    {{{body}}}
  </div>
</div>

